@import "tailwindcss";

@theme { 
  --color-background: #1f2125;
  --color-text: #e3e5ea;
  --color-text-muted: #8a8f9a;
  --color-border: #374151;
  --color-primary: #fbbf24;
  --color-accent: #60a5fa;
  --font-body: "Poppins", sans-serif;
  --font-heading: "Orbitron", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

header a {
  font-family: var(--font-heading);
}