---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="hankadev blog">
  <h2 class="text-accent">main page</h2>
  <p>
    Welcome to the hankadev blog! This is where I share my thoughts, projects,
    and experiences in the world of software development. Stay tuned for updates
    and feel free to reach out if you have any questions or suggestions!
  </p>
</BaseLayout>
