---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center border-t border-border">
  <div class="container px-8 py-4 text-text-muted">
    <div class="flex justify-between items-center">
      <span>&copy; {currentYear} Hana Klingová</span>
      <p>
        Built with ❤️ and <a
          class="underline"
          href="https://astro.build/"
          target="_blank">Astro</a
        >
      </p>
    </div>
  </div>
</footer>
